{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <body style="background-color:#A9D0F5;">
    <h1 style="font-family:Bookman;"><center><b>About</b></center></h1>
  </div>
  <center><font size="40"><strong>𝐓𝐞𝐚𝐦 𝐁𝐢𝐨𝐠𝐫𝐚𝐩𝐡𝐲 -- 𝟒𝟎𝟒 𝐂𝐨𝐝𝐞 𝐍𝐨𝐭 𝐅𝐨𝐮𝐧𝐝</strong></font></center>
  <br>
  </br>

  <center>
  <audio controls>

    <source src="http://www.hochmuth.com/mp3/Haydn_Cello_Concerto_D-1.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  </center>
<br>
<br>
<br>
<center><a href="https://imgur.com/nj0LWN7"><img src="https://i.imgur.com/nj0LWN7.jpg" width="400" title="source: imgur.com" /></a></center>
  <br>
  <center><font size="5"><u>𝐂𝐲𝐧𝐭𝐡𝐢𝐚 𝐌𝐞𝐧𝐧𝐚</u></font></center>
  <p> <center> <blockquote>Cynthia is 20 years old and from Newtown, PA. She is a classical music fanatic.</blockquote> </center></p>

  <p> <center> <blockquote> Fun Fact: My favorite composer is Joseph Haydn, and I love his cello concertos the most. </blockquote> </center></p>

<br>
<center><a href="https://imgur.com/Q4woAit"><img src="https://i.imgur.com/Q4woAit.jpg" width="400" title="source: imgur.com" /></a></center>
<br>
  <center> <font size="5"><u>𝐄𝐦𝐢𝐥𝐲 𝐍𝐚</u></font></center>
  <p>  <center>   <blockquote>Emily is 20 years old and from San Diego, CA. She only listens to classical music.</blockquote> <center/> </p>

  <p> <center> <blockquote> Fun Fact: My favorite piece is Joseph Haydn's Cello Concerto No. 2 in D Major. </blockquote><center/>  </p>

<br>
  <center><a href="https://imgur.com/sBKuxF6"><img src="https://i.imgur.com/sBKuxF6.jpg"  width="400" title="source: imgur.com" /></a></center>
  <center> <font size="5"><u>𝐉𝐞𝐬𝐬𝐢𝐜𝐚 𝐓𝐚𝐢</u></font><center/>
  <p>  <center>   <blockquote>Jessica is 20 years old and from Quincy, MA. She denies the existence of any other form of music aside from classical. </blockquote> </center> </p>

  <p><center>  <blockquote> Fun Fact: She learned how to play Joseph Haydn's Cello Concerto No. 2 in D Major. </blockquote> </center> </p>
<br>
<center><a href="https://imgur.com/JlZK7el">><img src="https://i.imgur.com/JlZK7el.jpg" width="400" title="source: imgur.com" /></a></center>
  <br>
  <center> <font size="5"><u>𝐓𝐢𝐚𝐧𝐲𝐢 𝐆𝐚𝐨</u></font></center>
  <p>  <center>   <blockquote>Tianyi is 20 years old and from Anhui, China. She has started a petition to ban all music aside from the work of classical composers. </blockquote><center/>  </p>

  <p><center> <blockquote>Fun Fact: She forces all her friends to listen to her play Joseph Haydn's Cello Concerto No. 2 in D Major every single day at 4:20AM.</blockquote><center/> </p>
<br>
  <center><a href="https://imgur.com/OC3Pmvo"><img src="https://i.imgur.com/OC3Pmvo.jpg"width="400" title="source: imgur.com" /></a></center>
  <br>
  <center> <font size="5"><u>𝐘𝐞𝐬𝐬𝐞𝐧𝐢𝐚 𝐓𝐞𝐣𝐞𝐝𝐚</u></font></center>
  <p>  <center>   <blockquote>Yessenia is 19 years old and from Waltham, MA. She learned how to clone herself in order to form a whole orchestra of herself to play Joseph Haydn's No. 2 in D Major. </blockquote> <center/> </p>

  <p> <center> <blockquote> Fun Fact: She has snuck into a live broadcasting of SNL to play Joseph Haydn's Cello Concerto No. 2 in D Major. People were so amazed by her performance, security didn't bother stopping her.</blockquote> <center/> </p>

{% endblock %}
