{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1><center>About</center></h1>
  </div>
  <font size="20"><strong>Team Biography--404 Code Not Found</strong></font>
  <br>
  </br>
  <center><a href="https://imgur.com/wT5h16Q"><img src="https://i.imgur.com/wT5h16Q.png" width="400" title="source: imgur.com" /></a></center>

  <br>
  </br>
  <font size="5"><u>Cynthia Menna</u></font>
  <p>    <blockquote>Cynthia is 20 years old and from Newtown, PA. She would like to recite some Backstreet Boys:</blockquote> </p>

  <p> <blockquote> You are my fire, the one desire, believe when I say, I want it that wayyyy </blockquote> </p>

  <font size="5"><u>Emily Na</u></font>
  <p>    <blockquote>Emily is 20 years old and from San Diego, CA. A fun fact about her is that she likes one Backstreet Boys song. Here is her rendition:</blockquote> </p>

  <p> <blockquote> But we are two worlds apart, can't reach to your heart, when you say, that I want it that way </blockquote> </p>

  <font size="5"><u>Jessica Tai</u></font>
  <p>    <blockquote>Jessica is 20 years old and from Quincy, MA. She would bring some joy during this pandemic by reciting some Backstreet Boys:</blockquote> </p>

  <p> <blockquote> Tell me why, Ain't nothin' but a heartache, Tell me why, Ain't nothin' but a mistake, Tell me why, I never want to hear you say, I want it that way </blockquote> </p>

  <font size="5"><u>Tianyi Gao</u></font>
  <p>    <blockquote>Tianyi is 20 years old and from Anhui, China. She loves Backstreet Boys so much so she want to recite some lines for y'all:</blockquote> </p>

  <p><blockquote>Am I, your fire? Your one, desire. Yes I know, it's too late But I want it that way</blockquote></p>

  <font size="5"><u>Yessenia Tejeda</u></font>
  <p>    <blockquote>Yessenia is 19 years old and from Waltham, MA. She will continue reciting Backstreet Boys:</blockquote> </p>

  <p> <blockquote> Tell me why, Ain't nothin' but a heartache, Tell me why, Ain't nothin' but a mistake, Tell me why, I never want to hear you say, I want it that way </blockquote> </p>

{% endblock %}
