{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1><center>About</center></h1>
  </div>
  <font size="20"><strong>Team Biography--404 Code Not Found</strong></font>
  <br>
  </br>
  <center><a href="https://imgur.com/wT5h16Q"><img src="https://i.imgur.com/wT5h16Q.png" width="400" title="source: imgur.com" /></a></center>
  <br>
  </br>

  <center>
  <audio controls>

    <source src="http://www.hochmuth.com/mp3/Haydn_Cello_Concerto_D-1.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  </center>


  <br>
  </br>
  <font size="5"><u>Cynthia Menna</u></font>
  <p>    <blockquote>Cynthia is 20 years old and from Newtown, PA. She is a classical music fanatic.</blockquote> </p>

  <p> <blockquote> Fun Fact: My favorite composer is Joseph Haydn. </blockquote> </p>

  <font size="5"><u>Emily Na</u></font>
  <p>    <blockquote>Emily is 20 years old and from San Diego, CA. She only listens to classical music.</blockquote> </p>

  <p> <blockquote> Fun Fact: My favorite piece is Joseph Haydn's No. 2 in D Major. </blockquote> </p>

  <font size="5"><u>Jessica Tai</u></font>
  <p>    <blockquote>Jessica is 20 years old and from Quincy, MA. She denies the existence of any other form of music aside from classical. </blockquote> </p>

  <p> <blockquote> Fun Fact: She learned how to play Joseph Haydn's No. 2 in D Major. </blockquote> </p>

  <font size="5"><u>Tianyi Gao</u></font>
  <p>    <blockquote>Tianyi is 20 years old and from Anhui, China. She has started a petition to ban all music aside from the work of classical composers. </blockquote> </p>

  <p><blockquote>Fun Fact: She forces all her friends to listen to her play Joseph Haydn's No. 2 in D Major every single day at 4:20AM.</blockquote></p>

  <font size="5"><u>Yessenia Tejeda</u></font>
  <p>    <blockquote>Yessenia is 19 years old and from Waltham, MA. She learned how to clone herself in order to form a whole orchestra of herself to play Joseph Haydn's No. 2 in D Major. </blockquote> </p>

  <p> <blockquote> Fun Fact: She has snuck into a live broadcasting of SNL to play Joseph Haydn's No. 2 in D Major. People were so amazed by her performance, security didn't bother stopping her.</blockquote> </p>

{% endblock %}
