{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1 style="font-family:Bookman;"><center>Quarantine Eats</center></h1>
  </div>
  <body style="background-color:#A9D0F5;">
  <p style="font-size:160%;">Here are the ingredients you've entered: </p>
  <p style="font-size:160%;text-indent: 40px">{{ state['ingred_list'] }}</p>

  <br>
  <br>

  <p style="font-size:160%;"><u>Here are the top matching recipes: </u></</p>

{% for x in state['recipe_names'] %}
    <p style="font-size:160%;"> {{x}}</p>
{% endfor %}


<br>
<br>
<br>

<p style="font-size:160%;"><b> Here is the information you requested: </b></p>

<br>

{% if state['narrow'] == state['all'] %}
  <p style="font-size:160%;"> <u>Name</u>: {{ state['name'] }} </p>
  <p style="font-size:160%;"> <u>Time to Cook</u>: {{ state['time'] }} minutes, or {{ state['hour'] }} hours </p>
  <p style="font-size:160%;"> <u>Description</u>: {{ state['descrip'] }} </p>
  <p style="font-size:160%;"> <u>Ingredients</u>: {{ state['in'] }} </p>
  <p style="font-size:160%;"> <u>Number of Steps</u>: {{ state['number_steps'] }} </p>
  <p style="font-size:160%;"> <u>Steps</u>: {{ state['steps'] }}</p>
{% endif %}

{% if state['narrow'] == state['description'] %}
  <p style="font-size:160%;"> <u>Name</u>: {{ state['name'] }} </p>
  <p style="font-size:160%;"> <u>Description:</u> {{ state['descrip'] }} </p>
{% endif %}

{% if state['narrow'] == state['numsteps'] %}
  <p style="font-size:160%;"> <u>Name</u>: {{ state['name'] }} </p>
  <p style="font-size:160%;"> <u>Number of Steps:</u> {{ state['number_steps'] }} </p>
{% endif %}

{% if state['narrow'] == state['t'] %}
  <p style="font-size:160%;"> <u>Name</u>: {{ state['name'] }} </p>
  <p style="font-size:160%;"> <u>Time to Cook:</u>{{ state['time'] }} minutes,  or {{ state['hour'] }} hours </p>
{% endif %}

{% if state['narrow'] == state['s'] %}
  <p style="font-size:160%;"> <u>Name</u>: {{ state['name'] }} </p>
  <p style="font-size:160%;"> <u>Steps</u>: {{ state['steps'] }} </p>
{% endif %}

<br>

<p style="font-size:200%;font-family:Bookman;"> Good luck with your recipe! </p>


{% endblock %}
