{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Quarantine Eats</h1>
  </div>

  <p>Here are the ingredients you've entered: {{ state['ingred_list'] }} </p>
  <p>Here are the top matching recipes: </p>

{% for x in state['recipe_names'] %}
    <p> >> {{x}}</p>
{% endfor %}

<br>
<br>
<br>
<br>

<p> Here is the information you requested: </p>

{% if state['narrow'] == state['all'] %}
  <p> Name: {{ state['name'] }} </p>
  <p> Time to Cook: {{ state['time'] }} </p>
  <p> Description: {{ state['descrip'] }} </p>
  <p> Ingredients: {{ state['in'] }} </p>
  <p> Number of Steps: {{ state['number_steps'] }} </p>
  <p> Steps: {{ state['steps'] }} </p>
{% endif %}

{% if state['narrow'] == state['description'] %}
  <p> Name: {{ state['name'] }} </p>
  <p> Description: {{ state['descrip'] }} </p>
{% endif %}

{% if state['narrow'] == state['numsteps'] %}
  <p> Name: {{ state['name'] }} </p>
  <p> Number of Steps: {{ state['number_steps'] }} </p>
{% endif %}

{% if state['narrow'] == state['t'] %}
  <p> Name: {{ state['name'] }} </p>
  <p> Time to Cook: {{ state['time'] }} </p>
{% endif %}

{% if state['narrow'] == state['s'] %}
  <p> Name: {{ state['name'] }} </p>
  <p> Steps: {{ state['steps'] }} </p>
{% endif %}



{% endblock %}
