{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Quaratine Eats</h1>
  </div>
  <p>Find your recipes</p>
  {{state['word_so_far']}}
  <form method="post" action="/play">
    Guess a letter: <input type="text" name="guess">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
  <p>Here are the letters you've guessed already:</p>
  {% for x in state['guesses'] %}
   {{x}}
  {% endfor %}


  {% if letter not in word %}
    <p>That letter is not in the word. Try again. </p>

  {% elif already_guessed== true %}
    <p>You already guessed that letter.</p>
    <p>Please guess again.</p>

  {% elif letter in word %}
    <p> Yay! The letter is in the word.</p>
  {% endif %}

  {% if won == true %}
    <font size="20">You won!</font>
  {% endif %}





{% endblock %}
