{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <body style="background-color:#A9D0F5;">
      <h1 style="font-family:Bookman;"><center>𝐐𝐮𝐚𝐫𝐚𝐧𝐭𝐢𝐧𝐞 𝐄𝐚𝐭𝐬

        <br><a href="/start"
               class="btn btn-lg btn-danger">
              Start!
            </a></<br>

      </center></h1>
    </div>

    <p>
      <blockquote>
        <br><p style="font-size:130%;">𝐇𝐢! 𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐐𝐮𝐚𝐫𝐚𝐧𝐭𝐢𝐧𝐞 𝐄𝐚𝐭𝐬! 𝐇𝐞𝐫𝐞, 𝐰𝐞 𝐰𝐢𝐥𝐥 𝐛𝐞 𝐡𝐞𝐥𝐩𝐢𝐧𝐠 𝐲𝐨𝐮 𝐟𝐢𝐧𝐝 𝐫𝐞𝐜𝐢𝐩𝐞𝐬 𝐲𝐨𝐮 𝐜𝐚𝐧 𝐦𝐚𝐤𝐞 𝐰𝐢𝐭𝐡 𝐭𝐡𝐞 𝐥𝐢𝐦𝐢𝐭𝐞𝐝 𝐢𝐧𝐠𝐫𝐞𝐝𝐢𝐞𝐧𝐭𝐬 𝐲𝐨𝐮 𝐦𝐚𝐲 𝐡𝐚𝐯𝐞 𝐢𝐧 𝐭𝐡𝐞 𝐡𝐨𝐮𝐬𝐞.</p>
        </<br>
          <p style="font-size:130%;"> 𝐏𝐮𝐬𝐡 𝐭𝐡𝐞 [𝐒𝐭𝐚𝐫𝐭!] 𝐛𝐮𝐭𝐭𝐨𝐧 𝐭𝐨 𝐛𝐞𝐠𝐢𝐧.</p>


    <a href="https://imgur.com/Mxpn4z4"><img src="https://i.imgur.com/Mxpn4z4.jpg" width="500" height=400 style="float:left" title="source: imgur.com">

      <a href="https://imgur.com/VZ14vng"><img src="https://i.imgur.com/VZ14vng.gif" width="500" height=400 style="float:right" title="source: imgur.com" >




      </blockquote>
    </p>

{% endblock %}
