{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron">
      <body style="background-color:#A9D0F5;">
      <h1 style="font-family:Bookman;"><center>Quarantine Eats

        <br><a href="/start"
               class="btn btn-lg btn-danger">
              Start!
            </a></<br>

      </center></h1>
    </div>

    <p>
      <blockquote>
        <br><p style="font-size:130%;">Hi! Welcome to Quarantine Eats! Here, we will be helping you find recipes you can make with the limited ingredients you may have in the house.</p>
        </<br>
          <p style="font-size:130%;"> Push the [Start!] button to begin.</p>

      </blockquote>
    </p>

{% endblock %}
