{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <body style="background-color:#A9D0F5;">
    <h1 style="font-family:Bookman;"><center>Quarantine Eats</center></h1>
  </div>
  <p style="font-size:160%;">Find a recipe!</p>





<p style="font-size:160%;">It may seem like certain things don't go together, but try inputting the ingredients you have and we'll see what recipes we can come up with!</p>

<br>
<p style="font-size:160%;">When inputting your ingredients, remember to please seperate them by commas with no spaces in between!</p>
<p style="font-size:160%;">For example, if I had egg, lime juice, and flour ---> egg,lime juice,flour</p>
</br>
<br></br>


  <form method="post" action="/submit"> <font size="3">
    Enter your ingredients: <input type="text" name="ingred_list">
    <br></br>
    <p style="font-size:140%;">How would you like the top recipes to be sorted?</p> 
    <input type="radio" id="amount_time" name="sorting" value="amount_time">
    <label for="amount_time">Amount of Time (least amount of time to most amount of time)</label><br> 
    <input type="radio" id="number of steps" name="sorting" value="stepnumbers">
    <label for="stepnumbers">Number of Steps (least number of steps to most number of steps)</label><br>
    <input type="radio" id="ingredientnumbers" name="sorting" value="ingredientnumbers"> 
    <label for="ingredientnumbers">Number of Ingredients (least number of ingredients to most number of ingredients)</label><br> 


    <input type="submit" class="btn btn-lg btn-danger"> </font>
  </form>
{% endblock %}

<form method="post" action="/information"> <font size="3">
