{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <body style="background-color:#A9D0F5;">
    <h1 style="font-family:Bookman;">Quarantine Eats</h1>
  </div>
  <p style="font-size:160%;">Find a recipe!</p>



<p style="font-size:160%;">It may seem like certain things don't go together, but try inputting the ingredients you have and we'll see what recipes we can come up with!</p>

<br>
<p style="font-size:160%;">When inputting your ingredients, remember to please seperate them by commas with no spaces in between!</p>
<p style="font-size:160%;">For example, if I had egg, lime juice, and flour ---> egg,lime juice,flour</p>
</br>
<br></br>


  <form method="post" action="/submit">
    Enter your ingredients: <input type="text" name="ingred_list">
    <br>
    How would you like the top recipes to be sorted? (a)Amount of time (b)Number of steps (c)Number of ingredients
    <input type="text" name="sorting">
    <input type="submit" class="btn btn-lg btn-danger">
  </form>
{% endblock %}
