{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <body style="background-color:#A9D0F5;">
    <h1 style="font-family:Bookman;"><center>Quarantine Eats</center></h1>
  </div>

  <p style="font-size:160%;">Here are the ingredients you've entered: </p>
  <p style="font-size:160%;text-indent: 40px">{{ state['ingred_list'] }}</p>
  <br>
  <br>
  <p style="font-size:160%;"><u>Here are the top matching recipes:</u></p>

{% for x in state['recipe_names'] %}
    <p style="font-size:160%;"> {{x}}</p>
{% endfor %}
<br>
<p style="font-size:160%;"> {{ state['none'] }} </p>


<br> 
<br>  
<p style="font-size:160%;">What information would you like to see?</p> 
<form method="post" action="/information"> <font size="3">
  <input type="radio" id="description" name="gender" value="description">
  <label for="description">Description</label><br> 
  <input type="radio" id="number of steps" name="gender" value="number of steps">
  <label for="number of steps">Number of Steps</label><br>
  <input type="radio" id="time" name="gender" value="time"> 
  <label for="time">Time to Prepare</label><br> 
  <input type="radio" id="step" name="gender" value="step">
  <label for="step">Steps</label><br>
  <input type="radio" id="all" name="gender" value="all"> 
  <label for="all">All of the above</label>
  <br>  
  <br>
   <br> 
  Which recipe would you like to see the information of? Input the matching number:   <input type="text" name="r">  </font>
  <br></br>
  <input type="submit" class="btn btn-lg btn-danger">  </form> 

{% endblock %}
