{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Quarantine Eats</h1>
  </div>

  <form method="post" action="/submit">
    Input your ingredients: <input type="text" name="ingred_list">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>

  <form method="post" action="/submit">
    How would you like the top five recipes to be sorted? (a)Amount of time (b)Number of steps (c)Number of ingredients <input type="text" name="sorting">
    <br>
    <input type="submit" class="btn btn-lg btn-danger">
  </form>


  <p>Here are the ingredients you've entered:</p>
  {% for x in state['ingred_list'] %}
   {{x}}
  {% endfor %}


  {% if letter not in word %}
    <p>That letter is not in the word. Try again. </p>

  {% elif already_guessed== true %}
    <p>You already guessed that letter.</p>
    <p>Please guess again.</p>

  {% elif letter in word %}
    <p> Yay! The letter is in the word.</p>
  {% endif %}

  {% if won == true %}
    <font size="20">You won!</font>
  {% endif %}





{% endblock %}
